.ProjectSection{
    background-image: url("../../images/project/project_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
}